* {
    margin: 2px;
    background: rgb(3, 56, 6);
}

/* Contenedor principal */
div {
    width: 100%;
    border: 2px solid red;
}

/* Encabezado principal */
h1 {
    color: rgb(1, 82, 82);
    text-align: center;
    font-size: 35px;
}

/* Estilos para enlaces */
a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: rgb(8, 43, 43);
}

/* Imágenes */
img {
    border-radius: 30%;
    width: 100px;
    height: 100px;
}
